[package]
name = "hyprdim"
description = "Automatically dim windows in Hyprland when switching between them."
version = "2.2.1"
authors = ["Copyright (C) 2023 Donovan Glover <https://donovan.is/>"]
repository = "https://github.com/donovanglover/hyprdim"
license = "MIT"
edition = "2021"

[dependencies]
clap = { version = "4.4.7", features = ["derive"] }
ctrlc = { version = "3.4.1", features = ["termination"] }
hyprland = "0.3.8"
single-instance = "0.3.3"

[build-dependencies]
clap = { version = "4.4.7", features = ["derive"] }
clap_complete = "4.4.4"
clap_mangen = "0.2.15"

[dev-dependencies]
assert_cmd = "2.0.12"
rustympkglib = "0.1.1"
serde = "1.0.189"
toml = "0.8.4"
